<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>liftApp</title>
</head>

<!-- SPA with angular -->
<body ng-app="liftApp">
	<header>
		<p>Header</p>
	</header>


	<!-- MENU navigation -->
  <section class="menu" ng-controller="DropdownController as drop">

  	<!-- ngSelect Day -->
  	<div class="container">
			<select ng-model="drop.selectedDay">
      	<option ng-repeat="(dayKey, dayValue) in drop.routine" value="{{dayKey}}">{{dayValue.name}}</option>
   		</select>
  	</div>

		<!-- ngSelect Exercise -->
  	<div class="container">
			<select ng-model="drop.selectedExercise" ng-show="drop.selectedDay">
      	<option ng-repeat="exercise in drop.routine[drop.selectedDay].exerciseType" value="{{exercise}}">{{exercise}}</option>
   		</select>
  	</div>
  	<h3>{{drop.selectedExercise}}</h3>
  </section>



	<!-- main app area -->
	<main class="main-app" ng-controller="SetController as set">
		<div class="container">
			<section class="history">
			  <div class="container">
			    <div class="row">
			      <div class="col-xs-2">
			        <span>Date</span>
			      </div>
			      <div class="col-xs-2">
			        <span>40/10</span>
			      </div>
			      <div class="col-xs-2">
			        <span>90/10</span>
			      </div>
			      <div class="col-xs-2">
			        <span>140/8</span>
			      </div>
			      <div class="col-xs-2">
			        <span>-/-</span>
			      </div>
			      <div class="col-xs-2">
			        <span>-/-</span>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-xs-2">
			        <span>Date</span>
			      </div>
			      <div class="col-xs-2">
			        <span>40/10</span>
			      </div>
			      <div class="col-xs-2">
			        <span>90/10</span>
			      </div>
			      <div class="col-xs-2">
			        <span>140/8</span>
			      </div>
			      <div class="col-xs-2">
			        <span>-/-</span>
			      </div>
			      <div class="col-xs-2">
			        <span>-/-</span>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-xs-2">
			        <span>Date</span>
			      </div>
			      <div class="col-xs-2">
			        <span>40/10</span>
			      </div>
			      <div class="col-xs-2">
			        <span>90/10</span>
			      </div>
			      <div class="col-xs-2">
			        <span>140/8</span>
			      </div>
			      <div class="col-xs-2">
			        <span>-/-</span>
			      </div>
			      <div class="col-xs-2">
			        <span>-/-</span>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-xs-2">
			        <span>Date</span>
			      </div>
			      <div class="col-xs-2">
			        <span>40/10</span>
			      </div>
			      <div class="col-xs-2">
			        <span>90/10</span>
			      </div>
			      <div class="col-xs-2">
			        <span>140/8</span>
			      </div>
			      <div class="col-xs-2">
			        <span>-/-</span>
			      </div>
			      <div class="col-xs-2">
			        <span>-/-</span>
			      </div>
			    </div>
			    <form>
				    <div class="row">
				    	<div class="col-xs-2"></div>
				      <div class="col-xs-2">
				        <input placeholder="weight" value=""/></br></br><input placeholder="reps" value="reps"/>
				      </div>
				      <div class="col-xs-2">
				        <input placeholder="weight" value=""/></br></br><input placeholder="reps" value="reps"/>
				      </div>
				      <div class="col-xs-2">
				        <input placeholder="weight" value=""/></br></br><input placeholder="reps" value="reps"/>
				      </div>
				      <div class="col-xs-2">
				        <input placeholder="weight" value=""/></br></br><input placeholder="reps" value="reps"/>
				      </div>
				      <div class="col-xs-2">
				        <input placeholder="weight" value=""/></br></br><input placeholder="reps" value="reps"/>
				      </div>
				    </div>
				  </form>
			  </div>
			</section>


		<!-- more elaborate input area (future idea) + static data -->
			<!-- <section class="history">
			  <div class="container">
			    <div class="row">
			      <div class="col-xs-2">
			        <span>40/10</span>
			      </div>
			      <div class="col-xs-2">
			        <span>90/10</span>
			      </div>
			      <div class="col-xs-2">
			        <span>140/8</span>
			      </div>
			      <div class="col-xs-2">
			        <span>-/-</span>
			      </div>
			      <div class="col-xs-2">
			        <span>-/-</span>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-xs-2">
			        <span>{{weight}}/{{ reps}}</span>
			      </div>
			      <div class="col-xs-2">
			        <span>{{weight}}/{{ reps}}</span>
			      </div>
			      <div class="col-xs-2">
			        <span>{{weight}}/{{ reps}}</span>
			      </div>
			      <div class="col-xs-2">
			        <span>{{weight}}/{{ reps}}</span>
			      </div>
			      <div class="col-xs-2">
			        <span>{{weight}}/{{ reps}}</span>
			      </div>
			    </div>
			  </div>
			</section>

			<div class="container">
				<form class="input-area">
			    <h3 ng-model="set.orderNumber" value="setNumber">Set #</h3>
					<span>-</span><input ng-model="set.inputWeight" placeholder="weight" value="weight"/><span>+</span>
					</br>
			    <span>-</span><input ng-model="set.inputWeight" placeholder="reps" value="reps"/><span>+</span>
				</form>
			</div> -->

		</div>
	</main>


	<footer>
		<p>Footer</p>
	</footer>

	<!-- scripts -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/g/angularjs@1.5.0(angular.min.js+angular-animate.min.js)"></script>
  <script src="https://cdn.jsdelivr.net/angular.bootstrap/1.2.2/ui-bootstrap.min.js"></script>
  <script src="/app.js"></script>
</body>
</html>