<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>liftApp</title>
</head>

<!-- SPA with angular -->
<body ng-app="liftApp" ng-controller="DropdownController as drop">
	<header>
		<p>Header</p>
	</header>

	<!-- Login -->
<!-- 	<section class="login">
		<div class="container">
			<h2>Login</h2>
			<form>
				<input name="email" placeholder="email" />
				<button>Submit</button>
			</form>
		<div>
	</section> -->


	<!-- MENU navigation -->
  <section class="menu">
  	<!-- ngSelect Day -->
  	<div class="container">
			<select ng-model="drop.selectedDay">
      	<option ng-repeat="(dayKey, dayValue) in drop.routine" value="{{dayKey}}">{{dayValue.name}}</option>
   		</select>
  	</div>
		<!-- ngSelect Exercise -->
  	<div class="container">
			<select ng-model="drop.selectedExercise" ng-show="drop.selectedDay">
      	<option ng-repeat="exercise in drop.routine[drop.selectedDay].exerciseType" value="{{exercise}}">{{exercise}}</option>
   		</select>
  	</div>
  </section>




	<!-- Day dropdown
		<!- <section class="day" ng-controller="DropdownController as drop">
			<div class="container">
				<div class="btn-group" uib-dropdown>
		      <button type="button" class="btn btn-primary" uib-dropdown-toggle>Choose Day<span class="caret"></span>
		      </button>
		      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
		      	<li role="menuitem" ng-repeat="day in drop.days">
		      		<a href="#">{{day}}</a>
		      	</li>
		      </ul>
		    </div>
		  </div>
		</section> -->



<!-- Exercise dropdown 
	<section class="exercises" ng-controller="DropdownController as drop">
		<div class="container">
			<div class="btn-group" uib-dropdown>
	      <button type="button" class="btn btn-primary" uib-dropdown-toggle>Choose Exercise<span class="caret"></span>
	      </button>
	      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
	        <li role="menuitem" ng-repeat="exercise in drop.exercisesForDay">
	        	<a href="#">{{drop.day.exercise}}</a>
	        </li>
	        <li role="menuitem"><a href="#">Sit Down Curl</a></li>
	        <li role="menuitem"><a href="#">Single Overhead</a></li>
	        <li role="menuitem"><a href="#">Standing Curl Dumbell</a></li>
	        <li role="menuitem"><a href="#">Kickback</a></li>
	        <li role="menuitem"><a href="#">Hammer Curl</a></li>
	        <li role="menuitem"><a href="#">Skull Crusher</a></li>
	        <li role="menuitem"><a href="#">Ropedown</a></li>
	        <li role="menuitem"><a href="#">Standin Bar Curl</a></li>
	      </ul>
	    </div>
	  </div>
	</section>
 -->







	<!-- main app area -->
	<main class="main-app">
		<div class="container">
			<h3>{{drop.selectedExercise}}</h3>
				

		<!-- STATIC DATA FIELD -->
			<section>
			  <div class="container">
			    <div class="row">
			      <div class="col-xs-2">
			        <span>40</span>
			        <span>10</span>
			      </div>
			      <div class="col-xs-2">
			        <span>90</span>
			        <span>10</span>
			      </div>
			      <div class="col-xs-2">
			        <span>140</span>
			        <span>8</span>
			      </div>
			      <div class="col-xs-2">
			        <span>-</span>
			        <span>-</span>
			      </div>
			      <div class="col-xs-2">
			        <span>-</span>
			        <span>-</span>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-xs-2">
			        <span>40</span>
			        <span>10</span>
			      </div>
			      <div class="col-xs-2">
			        <span>90</span>
			        <span>10</span>
			      </div>
			      <div class="col-xs-2">
			        <span>140</span>
			        <span>8</span>
			      </div>
			      <div class="col-xs-2">
			        <span>-</span>
			        <span>-</span>
			      </div>
			      <div class="col-xs-2">
			        <span>-</span>
			        <span>-</span>
			      </div>
			    </div>
			  </div>
			</section>




			<div class="row">
				<form>
					<!-- <div class="col-xs-2"> 
	          <div>
		          <input type="checkbox">alt. i.e. machine</input>
	          </div>
					</div> -->
          <div class="col-xs-2">
            <h3>Set 1</h3>
						<input placeholder="weight"/><span>+</span><span>-</span>
            <input placeholder="reps"/><span>+</span><span>-</span>
					</div>
					<div class="col-xs-2">
            <h3>Set 2</h3>
						<input placeholder="weight"/><span>+</span><span>-</span>
            <input placeholder="reps"/><span>+</span><span>-</span>
					</div>
					<div class="col-xs-2">
            <h3>Set 3</h3>
						<input placeholder="weight"/>
            <input placeholder="reps"/>
					</div>
          <div class="col-xs-2">
            <h3>Set 4</h3>
						<input placeholder="max"/>
            <input placeholder="reps"/>
					</div>
          <div class="col-xs-2">
            <h3>Set 5</h3>
						<input placeholder="max"/>
            <input placeholder="reps"/>
					</div>
				</form>
			</div>
		</div>
	</main>


	<footer>
		<p>Footer</p>
	</footer>

	<!-- scripts -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/g/angularjs@1.5.0(angular.min.js+angular-animate.min.js)"></script>
  <script src="https://cdn.jsdelivr.net/angular.bootstrap/1.2.2/ui-bootstrap.min.js"></script>
  <script src="/app.js"></script>
</body>
</html>