body {
	text-align: center;
	margin: 0 auto;
}
header {
	background-color: #3c6ef6;
  p {
	  margin: 0 auto;
  }
}
form {
  background-color: gray;
  input {
    // margin: 5px 0;
  }
}
button {
  margin: 15px 0;
}
footer {
	background-color: #bbb;
}
.ng-cloak {
  display: none !important;
}
// .login {
//  	background-color: #bbb;
// }
.menu {
  background-color: #ddd;
}
// .column-titles {
//   font-weight: bold;
// }
.input-area {
	background-color: #ddd;
}