body {
	text-align: center;
	margin: 0 auto;
}
header {
	background-color: #3c6ef6;
  p {
	  margin: 0 auto;
  }
}
footer {
	background-color: #bbb;
}
/*.login {
 	background-color: #bbb;
}*/
.day {
	background-color: #ccc;
  ul {
    list-style: none;
    padding-left: 0;
  }
}
.exercises {
	background-color: #ddd;
  ul {
    list-style: none;
    padding-left: 0;
  }
}
.main-app {
	background-color: #aaa;
  input {
    width: 80px; // max width for 2 columns on row width 1
  }
}